# - Indexing

In [1]:
# make a string
a = "Any thing!"
a

'Any thing!'

In [2]:
a

'Any thing!'

In [3]:
#length of indeces
len(a)

10

In [4]:
a [0:3]

'Any'

## - Other Methods to Define Strings

In [5]:
name = "My name is, abdul Moeed"
name

'My name is, abdul Moeed'

In [6]:
name.lower()

'my name is, abdul moeed'

In [7]:
name.upper()

'MY NAME IS, ABDUL MOEED'

In [8]:
name.split(",")

['My name is', ' abdul Moeed']

In [9]:
name.find("Mo")

18

## - Basic data Structures in Python
#### 1- Tuple
#### 2- List
#### 3- Dictionaries
#### 4- Set

## 1- Tuple
- ordered collection of elements
- enclosed in () 
- different kind / type of elements can be stored
- once elements are stored you cannot change them or (unmutatable)

In [10]:
tup1  = (3, "python", True , 2.5)
tup1

(3, 'python', True, 2.5)

In [11]:
#type of a tuple
type(tup1)

tuple

### - Indexing in tuple

In [12]:
tup1[0]

3

In [13]:
tup1[1] 
tup1[2]
tup1[0:4] #last element is exculsive [0:3]

(3, 'python', True, 2.5)

In [14]:
#count of elements in tuple
len(tup1)

4

In [15]:
tup2 = (2, "Moeed", 3.05, False)
tup2

(2, 'Moeed', 3.05, False)

In [16]:
#concatenation 
tup1+tup2
#concatenation + repeat
tup1 * 2 + tup2

(3, 'python', True, 2.5, 3, 'python', True, 2.5, 2, 'Moeed', 3.05, False)

In [17]:
tup3 = (20,30,50,100,90)
tup3

(20, 30, 50, 100, 90)

In [18]:
#minimum and maximum
min (tup3)
#max (tup3)

20

---

## 2- lists
- ordered collection of elements
- enclosed in [] square brackets
- mutatale / you can change the values

In [19]:
list1 = [2, "Moeed", False]
list1

[2, 'Moeed', False]

In [20]:
type(list1)

list

In [21]:
len(list1)

3

In [22]:
list1[2]

False

In [23]:
list2 = [5,6,"Amm", "Codanics",478,53.2,False, True]
list2

[5, 6, 'Amm', 'Codanics', 478, 53.2, False, True]

In [24]:
list1+list2

[2, 'Moeed', False, 5, 6, 'Amm', 'Codanics', 478, 53.2, False, True]

In [25]:
list1.reverse()
list1

[False, 'Moeed', 2]

In [26]:
list3= [50,45,43,20,10,63,60]
list3

[50, 45, 43, 20, 10, 63, 60]

In [27]:
list3.sort()
list3

[10, 20, 43, 45, 50, 60, 63]

In [28]:
lists = list1+list2+list3

In [29]:
lists

[False,
 'Moeed',
 2,
 5,
 6,
 'Amm',
 'Codanics',
 478,
 53.2,
 False,
 True,
 10,
 20,
 43,
 45,
 50,
 60,
 63]

## 3- Dictionaries
- An unordered collection of elements
- key and value
- curly braces / brackets {}
- Mutateable/Change the values

In [30]:
#food and their prices
food1 = {"Samosa":30, "Pakora":100,"Raita": 20, "Salad" : 50, "Cicken Rolls":30}
food1

{'Samosa': 30, 'Pakora': 100, 'Raita': 20, 'Salad': 50, 'Cicken Rolls': 30}

In [31]:
type(food1)

dict

In [32]:
# extract data
keys1 = food1.keys()
keys1

dict_keys(['Samosa', 'Pakora', 'Raita', 'Salad', 'Cicken Rolls'])

In [33]:
values1 = food1.values()
values1

dict_values([30, 100, 20, 50, 30])

In [34]:
#adding a new key and value
food1["Tikki"]=20
food1

{'Samosa': 30,
 'Pakora': 100,
 'Raita': 20,
 'Salad': 50,
 'Cicken Rolls': 30,
 'Tikki': 20}

In [35]:
#update the values
food1["Tikki"] = 10
food1

{'Samosa': 30,
 'Pakora': 100,
 'Raita': 20,
 'Salad': 50,
 'Cicken Rolls': 30,
 'Tikki': 10}

In [36]:
food2 = {"Dates":50, "Chocolate": 200,"Chicken": 1000}
food2

{'Dates': 50, 'Chocolate': 200, 'Chicken': 1000}

In [37]:
# to concatenate two or more dictionaries
food1.update(food2)
food1

{'Samosa': 30,
 'Pakora': 100,
 'Raita': 20,
 'Salad': 50,
 'Cicken Rolls': 30,
 'Tikki': 10,
 'Dates': 50,
 'Chocolate': 200,
 'Chicken': 1000}

## 4- Set
- Unordered and unindexed
- curly braces are used {}
- No duplicate allowed

In [38]:
s1 = {1,2.2,5,4.4,"Aammar","Codanics","Pakistan",True}
s1

{1, 2.2, 4.4, 5, 'Aammar', 'Codanics', 'Pakistan'}

In [39]:
s1.add("Moeed")
s1

{1, 2.2, 4.4, 5, 'Aammar', 'Codanics', 'Moeed', 'Pakistan'}